
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    overflow: hidden;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(images/foto.gif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a {
    color: #fff;
}

.cabeçalho-link a:hover {
    color: #2ecc71;
    transition: .8s all;
}
/*Animação e posição itens da página Index*/
[data-page="index"] .container-text {
    top: 20vh;
    left: 30vw;
    width: 50vw;
    animation: moverindex 2s ease-in-out;
}

@keyframes moverindex {
    from {
        top: 20vh;
        left: 100vw;
    }

    to {
        top: 20vh;
        left: 30vw;
    }
}

/*Animação e posição itens da página SobreMim*/
[data-page="SobreMim"] .container-text {
    top: 20vh;
    left: 25vw;
    width: 60vw;
    animation: moverSobreMim 2s ease-in-out;
}

@keyframes moverSobreMim {
    from {
        top: 20vh;
        left: 100vw;
    }

    to {
        top: 20vh;
        left: 25vw;
    }
}

/*Animação e posição itens da página Projetos*/
[data-page="projetos"] .container-text {
    top: 20vh;
    left: 15vw;
    width: 60vw;
    padding: 0;
    animation: moverprojetos 2s ease-in-out;
}

@keyframes moverprojetos {
    from {
        top: 20vh;
        left: 100vw;
    }

    to {
        top: 20vh;
        left: 15vw;
    }
}

/*Itens em comum nas 3 páginas*/
.container-text {
    position: fixed;
    animation: mover 2s ease-in-out;
}

.text h3 {
    color: #fff;
    font-size: 5vw;
}

.text h1 {
    color: #fff;
    margin-top: 0vw;
}

.text span {
    color: #c2503e;
}

.text p {
    color: #c0c0c0;
    font-weight: 500;
}

.redes-social {
    margin-top: 10px;
}

.redes-social a {
    font-size: 4vw;
    color: #ffffff;
    padding: 10px;
    margin-top: 5px;
}

.btn {
    margin-top: 15px;
}

body,p,h2,h3{
    display: flex;
}
p{
    font-size:80%;
    margin-block-start: 0;
    margin-block-end: 0;

}
